<!DOCTYPE html>
<html>
<head>
  <title>Show</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <%- include('../components/navbar')%>
  <a href="/users">kembali</a>
  <H1>User Detail</H1>
  <ul>
    
    
    <li>name : <strong> <%=user.name%></strong></li>
    <li>email: <strong>  <%=user.email%></strong></li>
  </ul>

  <a href="/users/<%=user._id%>/edit">Edit</a>
  <a href="/users/id">Delete</a>

<footer>
  <p>&copy; 2021 Meti Lamitasari</p>
</footer>
</body>
</html>