<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<div class="container mt-3">
<body>
	<div class="card text-center">
	  <div class="card-header">
	    	    	<%- include('components/navbar')%>
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Special title treatment</h5>
			<h1>About</h1>
	  </div>
	  <div class="card-footer text-muted">
	    Mety Lamitasari
	  </div>
	</div>
  </div>
</div>
</div>
</body>
</html>