<!DOCTYPE html>
<html>
<head>
	<title>hello word</title>
	<link rel="stylesheet" href="public/css/boostrap.css">
</head>
<body>
<%- include('components/header')%>

<h1>beranda</h1>

<footer>
		<p>&copy ; 2021 metilamitasari</p>
	</footer>
</body>
</html>